<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle
    Name="Zia Monitoring Setup"
    Manufacturer="Zia Monitoring"
    Version="1.1.0.0"
    UpgradeCode="F2DD8A5A-6840-4E6B-9E7A-267315A2E5CB"
    DisableModify="yes"
    DisableRemove="no">

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication Theme="standard" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage
        Id="ZiaMonitoringMsi"
        SourceFile="..\..\publish\setup\ZiaMonitoring-Setup.msi"
        DisplayInternalUI="yes"
        Visible="yes"
        Vital="yes" />
    </Chain>
  </Bundle>
</Wix>
